
# stray agent clone dirs (belong in /tmp, never the repo)
cow/
debridge/
*-contracts/
nearmpc/
# client/repo clones that agents may accidentally place in the repo root
go-ethereum/
reth/
erigon/
lighthouse/
prysm/
cometbft/
cosmos-sdk/
polkadot-sdk/
agave/
bitcoin/
*-ethereum/
*-recon/
*-audit/
